    <!--Start Footer-->
    <footer class="tz-footer">
        <div class="container footer-content">
            <div class="row">
                <!--Footer one-->
                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h4 class="widget_title">আমাদের সম্পর্কে </h4>
                        <div class="widget_about">
                            <h2>ডেইলি বাজিতপুর </h2>
                            <p>এটি কোন সংবাদ মাধ্যম নয়। এটি বাজিতপুরের একটি তথ্য ভান্ডার।</p>
                            <ul class="widget_about_meta">
                                <li>
                                    01618-881216
                                </li>
                                <li>
                                    <a href="#">dailybajitpur@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer one-->

                <!--Footer Three-->
                
                <!--End Footer three-->

                <!--Footer four-->
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget_menu">
                        <h4 class="widget_title">ক্যাটাগরি </h4>
                        <ul>
                            <li>
                                <a href="#">আমাদের সম্পর্কে</a>
                            </li>
                            <li>
                                <a href="#">যোগাযোগ </a>
                            </li>
                            <li>
                                <a href="#">বিজ্ঞাপন </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!--End Footer four-->

                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h4 class="widget_title">বিজ্ঞাপন</h4>
                        <%- ads.footer %>

                        
                    </div>
                </div>

            </div>
        </div>

        <div class="tz-copyright">
            <div class="container">
                <p class="pull-left copyright-content">&copy; Copyrights 2019 Daily Bajitpur. All rights reserved.</p>
                <ul class="pull-right footer-social">
                    <li>
                        <a href="#"><i  class="fa fa-facebook-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--End Footer-->

</div>
<!--End class site-->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theia-sticky-sidebar.js"></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>